[seed-hypervisor]
{{ hypervisor_host }}
 
[hypervisors:children]
# Group that contains all hypervisors used for infra VMs
seed-hypervisor
 
[infra-vms]
# Empty group to provide declaration of infra-vms group.
{% for item in infravms %}
{{ item.name }}
{% endfor %}
 
[docker:children]
# Hosts in this group will have Docker installed.
seed-hypervisor
 
[ntp:children]
# Kayobe will configure Chrony on members of this group.
seed-hypervisor
