localhost ansible_connection=local
 
{{ hypervisor_host }} ansible_host={{ hypervisor_host_ip }} ansible_user=ubuntu
 
[infra-vms]
{% for item in infravms %}
{{ item.name }} ansible_user=ubuntu
{% endfor %}

[infra-vms:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -q ubuntu@{{ hypervisor_host_ip }}"'

[hypervisors]
{{ hypervisor_host }} ansible_host={{ hypervisor_host_ip }} ansible_user=ubuntu
